body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  max-height: 100%;
}

.header {
  /* Rectangle: */
  background: #FFFFFF;
  border: 1px solid #4A90E2;
  max-width: 635px;
  margin: 100px auto 100px auto;
  min-height: 476px;
}

.logo {
  /* Rectangle 2 Copy: */
background: #4A90E2;
border: 1px solid #979797;
width: 635px;
height: 49px;
}

.logo p {
  font-family: Avenir-Book;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
}

.welcome p {
  /* Welcome! What can we: */
  font-family: Avenir-Book;
  font-size: 20px;
  color: #4A90E2;
  text-align: center;
  margin-top: 60px;
}

.nameInput {
  text-align: center;
}
input#nameInput {
  /* Rectangle 3: */
  background: #FFFFFF;
  border: 1px solid #4A90E2;
  width: 319px;
  height: 32px;
  color: blue;
  font-size: 20px;
  text-align: center;
  font-family: Avenir-Book;
}

.instruction {
  margin: 20px 156px;
}

.instruction p {
  /* Rectangle 6: */
  background: #FFFFFF;
  border: 1px solid #4A90E2;
  width: 322px;
  height: 104px;
  color: blue;
  font-size: 12px;
  text-align: center;
  font-family: Avenir-Book;
  padding: 4px 6px;
}

.startGame {
  text-align: center;
  margin-top: 34px;
}

button#startGame {
  /* Rectangle 4: */
background: #4A90E2;
border: 1px solid #979797;
border-radius: 50px;
/* Start Game: */
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
width: 319px;
height: 32px;
}

/* game page 2 */
.welcomeUser {
  /* Welcome AdeyBee: */
  display: inline-flex;
  font-family: Avenir-Book;
  font-size: 20px;
  color: #4A90E2;
}

.welcomeUser p {
  margin-left: 10px;
  margin-top: 21px;
}

p.timer {
  margin-top: 21px;
  margin-left: 280px;
  border: 1px solid #4A90E2;
  padding: 0px 22px;
}

/* table */
#table {
  width: 388px;
  height: 288px;
  margin-left: 10px;
}
table,tr,td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  background-color: aliceblue;
}
tr {
  height: 40px;

}
td {
  width: 40px;
  text-align: center;
}

table img {
  width: 40px;
  height: 40px;
}

#image1, #image2, #image3, #image4 {
  background-color: #FF5722;
}

td#faintred {
  background-color: rgba(255, 86, 34, 0.2);
}

td#veryFaintRed {
  background-color: #ff00001a;
}

/* making the images setting the comparison true hidden */
#firstImage img {
  visibility: hidden;
}
#secondImage img {
  visibility: hidden;
}
#thirdImage img {
  visibility: hidden;
}
#fourthImage img {
  visibility: hidden;
}

.instructionPage2 {
  margin: -357px 393px;
}

.instructionPage2 p {
  width: 220px;
    height: 85px;
    font-size: 15px;
    border: 1px solid #4A90E2;
    padding: 4px 2px;
    text-align: center;
}

.soldierButton {
  margin: 374px 400px 0;
}

.soldierButton button {
  width: 211px;
    background: #4A90E2;
    border: 1px solid #979797;
    border-radius: 50px;
    height: 27px;
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
}

.reset {
  font-family: Avenir-Book;
  font-size: 14px;
  margin-left: 489px;
  color: #4A90E2;
  margin-top: 26px;
}